{% zone "Header" %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="masthead" style="background-image: url('{{ "~/TheBlogThemeHebrew/img/post-bg.jpg" | href }}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>{{ Model.ContentItem.DisplayText }}</h1>
                        <h2 class="subheading">{{ Model.ContentItem.Content.BlogPost.Subtitle.Text }}</h2>
                        <span class="meta">
                            {% assign format = "MMMM dd, yyyy" | t %}
                            {% assign dateTime = "DateTime" | shape_new: utc: Model.ContentItem.CreatedUtc, format: format | shape_stringify %}
                            {{ "פורסם על ידי " | t }} <a href="#">{{ Model.ContentItem.Owner }}</a> {{ "{0}" | t: dateTime | raw }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endzone %}


<div class="container">
            <div class="row">
              <span> hello world</span>
{% assign related_post_ids = Model.ContentItem.Content.BlogPost.RelatedPosts.ContentItemIds %}
{% assign related_posts = related_post_ids | content_item_id %}
{% for related_post in related_posts %}
 <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                      <span class="meta"> </span>
                      
                      <a href="{{ related_post |display_url   }}">{{ related_post |display_text}}</a>
                       {{ contentItem | shape_build_display: "Detail" | shape_render }}
                  </div>
                  </div>
   </div>
{% endfor %}
  </div>
  </div>
{{Model.ContentItem.Content.BlogPost.RelatedPosts | shape_render}}

{{ Model.Content.ContentsMetadata | shape_render }}
{{ Model.Content.MarkdownBodyPart | shape_render }}
