<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--html xmlns="http://www.w3.org/1999/xhtml"-->

<html lang="he-IL">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ "PageTitle" | shape_new | shape_stringify }}</title>

    {% resources type: "Meta" %}

    <!-- Bootstrap core CSS -->
    {% style name:"TheBlogThemeHebrew-vendor-bootstrap", version:"4" %}
    {% style name:"TheBlogThemeHebrew-bootstrap-oc", version:"1" %}

    <!-- Custom fonts for this template -->
    {% style name:"TheBlogThemeHebrew-vendor-font-awesome", version:"5" %}
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    {% style src:"~/TheBlogThemeHebrew/css/clean-blog.min.css", debug_src:"~/TheBlogThemeHebrew/css/clean-blog.css" %}
    {% style src:"~/TheBlogThemeHebrew/css/hebrew.min.css", debug_src:"~/TheBlogThemeHebrew/css/hebrew.css" %}
    

    <!-- Bootstrap core JavaScript -->
    {% script name:"TheBlogThemeHebrew-vendor-jquery", at:"Foot" %}    
    {% script name:"TheBlogThemeHebrew-vendor-bootstrap-bundle", at:"Foot" %}

    <!-- Custom scripts for this template -->
    {% script src:"~/TheBlogThemeHebrew/js/clean-blog.min.js", debug_src:"~/TheBlogThemeHebrew/js/clean-blog.js", at:"Foot" %}

    {% script src:"~/OrchardCore.Menu/Scripts/activate-links.min.js", debug_src:"~/OrchardCore.Menu/Scripts/activate-links.js", at:"Foot" %}
    {% script src:"~/TheBlogThemeHebrew/js/clean-blog-ext.min.js", debug_src:"~/TheBlogThemeHebrew/js/clean-blog-ext.js", at:"Foot" %}

    {% resources type: "HeadScript" %}
    {% resources type: "HeadLink" %}
    {% resources type: "Stylesheet" %}
  

</head>
<body dir="rtl" >
<div class="container">
<div class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="text-muted" href="#">הירשם</a>
       
      </div>
      <div class="col-4 text-center">
   
        <a class="blog-header-logo navbar-brand  text-dark" href="{{ '~/' | href }}">{{ Site.SiteName }}</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="text-muted" href="#" aria-label="Search">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg>
        </a>
        <!--a class="btn btn-sm btn-outline-secondary" href="#">כנס</a-->
       <img src="{{  'Spiral.png'| asset_url }}" style="midth:55px; height: 55px;" ></img>
        
      </div>
    </div>
  </div>
  </div>
    
      <nav  class="navbar navbar-expand-lg fixed-top  navbar-light " id="mainNav">
        <div class="container">
      <!--
            <a class="navbar-brand" href="{{ '~/' | href }}">{{ Site.SiteName }}</a>
            -->
            
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">{{ "Toggle navigation" | t }}</span>
                {{ "Menu" | t }} <i class="fa fa-bars"></i>
            </button>
            {% shape "menu", alias: "alias:main-menu", cache_id: "main-menu", cache_fixed_duration: "00:05:00", cache_tag: "alias:main-menu" %}
        </div>
    </nav>
    {% render_section "Header", required: false %}
    <div class="container">
    
     <div class="row">
         <aside class="col-md-4 py-3 p-4 mt-4   mx-auto sticky-top position-static">
          {% render_section "RightSide", required: false %}       
           
        </aside>
       
        <div class="col-lg-8 col-md-10 py-4 mt-4 p-4 px-md-5 mx-auto">
			{% render_section "Messages", required: false %}
            {% render_body %}
            </div>
    </div><!--row-->
    </div><!--container-->
    <footer>
        {% render_section "Footer", required: false %}
    </footer>
    {% resources type: "FootScript" %}
</body>
</html>